form {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
	padding: 20px;
}

input {
	width: 350px;
	margin: 5px;
	padding: 3px;
}

select {
	width: 370px;
	margin: 5px;
}

textarea {
	width: 350px;
	height: 150px;
	margin: 5px;
}

.contact button {
	width: 60px;
	margin: 5px;
}
