.footer {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 220px;
	background: rgba(43, 10, 10, 0.582);
	color: white;
	margin: 0;
	padding: 20px;
	grid-template-areas: 'social motto nav' 'made made made';
}

.footer h4 {
	font-size: 15px;
}

.social {
	grid-area: social;
	width: 400px;
	padding: 10px;
	margin: 0;
}

.motto {
	grid-area: motto;
	width: 200px;
	padding: 10px;
	margin: 0;
}

.motto p {
	width: 200px;
	text-align: left;
}

.nav {
	grid-area: nav;
	width: 150px;
	padding: 10px;
	margin-left: 50px;
}

.nav ul {
	list-style-type: none;
	text-align: left;
}

.nav li {
	padding: 2px;
	margin: 1px;
}

.nav a {
	text-decoration: none;
	color: white;
}

i {
	padding: 3px;
	margin: 3px;
}

.made {
	grid-area: made;
	padding: 5px;
	margin: 5px;
}

.made a {
	text-decoration: underline;
	color: white;
}
